.card-slider {
   width: 403px !important;
   height: 427px;
}
.card {
   position: relative;
   width: 254px;
   height: 342px;
   margin: 0 auto;
   border: none;
   border-radius: 0;
}
.card1 {
   background: url("../assets/img/blue_card-bg.png");
   &:after {
      content: "";
      position: absolute;
      background: url("../assets//img/card__dragon-red.png");
      width: 279px;
      height: 279px;
      top: 20px;
      left: -4px;
   }
}
.card2 {
   width: 254px;
   height: 342px;
   background: url("../assets/img/gray_card-bg.png") no-repeat;
   background-size: cover;
   img {
      width: 100%;
      height: 100%;
   }
   &:after {
      content: "";
      position: absolute;
      background-image: url("../assets//img/card__dragon-pink.png");
      background-size: cover;
      width: 320px;
      height: 320px;
      top: 5px;
      left: -35px;
   }
}

@media screen and (max-width: 991px) {
   .card-slider {
      width: 255px !important;
      height: 427px;
      margin-top: -40px;
   }
   .card {
      position: relative;
      width: 254px;
      height: 342px;
      margin: 0 auto;
      border: none;
      border-radius: 0;
      transform: scale(0.7);
   }
   .card1 {
      background: url("../assets/img/blue_card-bg.png");
      &:after {
         content: "";
         position: absolute;
         background: url("../assets//img/card__dragon-red.png");
         width: 279px;
         height: 279px;
         top: 20px;
         left: -4px;
      }
   }
   .card2 {
      width: 254px;
      height: 342px;
      background: url("../assets/img/gray_card-bg.png") no-repeat;
      background-size: cover;
      img {
         width: 100%;
         height: 100%;
      }
      &:after {
         content: "";
         position: absolute;
         background-image: url("../assets//img/card__dragon-pink.png");
         background-size: cover;
         width: 320px;
         height: 320px;
         top: 5px;
         left: -35px;
      }
   }
}
