.page {
   &__roadmap {
      margin-top: -80px;
      margin: 0 auto;
      .desk {
         height: 738px;
         margin-top: 10px;
         padding-top: 70px;
         &__description {
            width: 950px;
            margin-bottom: 40px;
            height: 100px;
            p {
               text-align: center;
               font-size: 19px;
               line-height: 22px;
            }
         }
         &__container {
            height: 374px;
         }
      }
   }
}
.roadmap {
   &__logo {
      margin-left: 34%;
      position: relative;
   }
   .yellowDragon {
      position: absolute;
      transform: scale(0.5);
      top: -100px;
      left: -244px;
   }

   .blueDragon {
      position: absolute;
      top: 0;
      right: 23px;
   }
   &__cards-wrapper {
      margin-bottom: 20px;
   }
   .chars {
      transform: scale(0.5);
      position: absolute;
      top: -39px;
      left: 38px;
   }
   &__wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      height: 480px;
      width: 100%;
      &:before {
         content: "";
         position: absolute;
         top: -83px;

         left: -60px;
         right: 0;
         bottom: 0;
         z-index: 1;
         background: url("../assets/img/roadmap_bg.png");
         background-size: cover;
         filter: blur(1px);
      }
      &:after {
         content: "";
         position: absolute;
         top: -83px;

         left: -60px;
         right: 0;
         bottom: 0;
         z-index: 2;
         background: rgba(0, 0, 0, 0.49);
         background-size: cover;
         background-position: center;
         filter: blur(1px);
      }
   }
   &__title {
      z-index: 3;
      p {
         font-size: 24px !important;
         line-height: 29px !important;
      }
   }
   &__title {
      z-index: 3;
      p {
         font-size: 64px !important;
         line-height: 76px !important;
      }
   }
   &__cards-wrapper {
      display: flex;
      justify-content: space-between;
   }
   &__card-wrapper {
      width: 206px;
      height: 278px;
      background: url("../assets/img/gray_card-bg.png");
      background-size: cover;
      transform: scale(0.9);
      padding: 30px 20px;
      text-align: center;
   }
   &__card-date {
      margin-bottom: 30px;
      p {
         font-family: Augusta;
         font-size: 24px;
         font-style: normal;
         font-weight: 400;
         line-height: 29px;
         letter-spacing: 0em;
         text-align: center;
      }
   }
   &__card-description {
      p {
         font-family: Augusta;
         font-size: 18px;
         font-style: normal;
         font-weight: 400;
         line-height: 21px;
         letter-spacing: 0em;
         text-align: center;
      }
   }
}
@media screen and (max-width: 991px) {
   .page {
      &__roadmap {
         padding-bottom: 80px;
         margin-top: -80px;
         background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.73) 100%);
         .desk {
            height: 738px;
            margin-top: 10px;
            padding-top: 70px;
            &__description {
               height: 270px;
               width: 330px;
               margin-bottom: 40px;
               p {
                  text-align: center;
                  font-size: 19px;
                  line-height: 22px;
               }
            }
            &__container {
               height: 1555px;
            }
            &-wrapper {
               height: 1621px;
            }
         }
      }
   }
   .roadmap {
      .chars {
         p {
            font-size: 64px !important;
            line-height: 76px !important;
         }
      }
      &__wrapper {
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
         position: relative;
         height: 480px;
         width: 100%;
      }
      &__title {
         p {
            font-size: 24px !important;
            line-height: 29px !important;
         }
      }
      &__logo {
         transform: scale(0.6);
         margin: 0 auto;
         width: 300px;
         & .logo__background {
            width: 422px;
         }
      }
      &__cards-wrapper {
         flex-direction: column;
         align-items: center;
         margin-bottom: 70px;
      }
      .blueDragon {
         right: -109px;
         top: -166px;
      }
      .yellowDragon {
         transform: scale(0.6);
         top: -242px;
         left: -167px;
      }
   }
}
